---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content'; 
import Typewriter from "astro-typewriter";



// const blogs = (await getCollection('blog')).sort(
// 	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
// );

const projects = (await getCollection('project')).sort(
	(a, b) => a.data.rank.valueOf() - b.data.rank.valueOf(),
);

// const pull_requests = (await getCollection('pull_request')).sort(
// 	(a, b) => a.data.prDate.valueOf() - b.data.prDate.valueOf(),
// );
---

<BaseLayout bodyClass="home">
	<h1>Hi, I'm Akhilesh, 
		<Typewriter messages={["a developer.", "a tinkerer..", "a student."]}/>
	</h1>

	<p class="half">I'm Akhilesh, Currently pursuing B-Tech  in computer science at Heritage, Kolkata from 2022—2026. 
		<br/>
		During summer of 2024, I joined  
		a startup named <a href="https://www.faralpha.com/">FarAlpha</a>
		as <a> software developer </a> intern.</span> I worked on CI/CD pipelines, AWS, Terraform,  NodeJs, FastAPI, Web-Scraping, Selenium, 
		ReactJs, Flutter & Firebase. 
	</p>


	<span class="">some cool things i have done:</span>
	<ul>
		<li>Got selected <a href="https://github.com/gofr-dev/gofr/pull/2072">GoFr Summer of Code</a> (2025) and contributed to the open-source microservices framework by adding built-in <a href=""> InfluxDB support </a> with core features, 80% test coverage.</li>
		<li>Hit <a>Pupil on Codeforces</a> in 2nd year of college, after that i got obsessed with <a>solving real software problems</a> and left competitve programming behind.</li>
		<li>(for fun) i also won a blind folded coding comp in college, i actually wrote binary search in C++ with my eyes closed, and it's actually <a>compiled</a></li>
	</ul>

        <p class="half">
          I love contributing to 
          <a href="/open-source">open-source</a> projects. 
          I’ve had several pull requests merged into well-known organizations, 
          check out some of my contribution. 
          <a class="" href="/open-source">(view all)</a>
        </p>

	</div>

      <!-- ------------------------------------ -->
      <!-- --- DATA STRUCTURES & ALGORITHMS --- -->
      <!-- ------------------------------------ -->
			<p class="half">
          Sometimes, I juggle Data Structures & Algorithms — they say it improve problem-solving.
      </p>
      <table class="border-separate border-spacing-x-4">
          <tr id="1" class="m-0">
              <td class="align-top">
                <p class="text-xl leading-tight mb-1"> 
                  <a href="https://leetcode.com/u/akhilsharmaa/">Leetcode</a>
                </p>
              </td>
              <td class="align-top">
                  <p class="text-xl leading-tight mb-1">  
                      Rating: 1709+, solved 450+ problems
                  </p>
              </td>
          </tr>
          <tr id="2" class="m-0">
              <td class="align-top"> 
                <p class="text-xl leading-tight mb-1"> 
                  <a href="https://codeforces.com/profile/akhilsharmaa">CodeForces</a>
                </p>
              </td>
              <td class="align-top">
                  <p class="text-xl leading-tight mb-1">  
                  Rating: 1320+, @pupil badge achieved  
                  </p>
              </td>
          </tr> 
      </table>

      <div class='flex i '>
      <h4 class="text-4xl">
        Personal Projects
        <sup>					
	<a class="text-xl" href="project"> (view all) </a>
	<ul>
	{
		projects.map(async (project) => {
		  return (
		    <li>
			    <p class="text-xl leading-tight mb-1"> 
			      <a href={project.data.codeLink}>{project.data.title}</a>
			    </p>
			    <p class="text-xl leading-tight mb-1">  
			      {project.data.description} 
			    </p>
		    </li>
		  );
		})
		}
	</ul>
        </sup>
      </h4> 
      </div>

</BaseLayout>
